<span id='date_col1'>Jul 30, 2012</span>
<span id='date_col2'>Jul 31, 2012</span>
<span id='date_col3'>Aug 1, 2012</span>
<span id='date_col4'>Aug 2, 2012</span>
<span id='date_col5'>Aug 3, 2012</span>
<span id='date_col6'>Aug 4, 2012</span>
<span id='date_col7'>Aug 5, 2012</span>
